body {
  background-color: #f9f7febb;
  font-family: "Roboto", serif;
}

a{
  colour: #885df1;

}

.weather-app {
  background: #bca7ef;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #bca7ef;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-colour: white
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 15px;
  padding: 15px 20px;
}

.search-form-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 15px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
main{
  padding: 30px;

}


.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city{
margin: 0; 
font-size: 38px;
line-height:48px;
}

.weather-app-details {
font-size: 16px;
color: rgba(39,33,66,.4);
line-height: 24px;
font-weight: 500px;
}

.weather-app-details strong {
 color:pink
}

.weather-app-tempreature-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;

}

.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;

}

.weather-app-unit{
  margin-top: 16px;
  font-size: 28px;
}

footer{
  border-top: 1px solid #bca7ef;
  padding:30px 0 0 0 ;
  text-align: centre;
  font-size: 13px;
color: rgby(0, 0, 0, 0.6);

}